            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,700&display=swap');
            /* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Poppins:ital,wght@0,600;0,700;1,700&display=swap'); */
            /* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Cormorant+Garamond:ital,wght@0,600;0,700;1,700&family=Poppins:ital,wght@0,600;0,700;1,700&display=swap'); */
            
            * {
                /* box-sizing: border-box; */
                height: auto;
                font-family: Poppins;
            }
            
            .anchorTag {
                text-decoration: none;
                color: rgb(0, 0, 0);
                cursor: pointer;
            }
            
            .open {
                position: relative;
                width: 27px;
                height: 27px;
                margin-right: 50px;
                margin-top: 50px;
                background: url('menu.gif');
                background-size: 25px;
                background-repeat: no-repeat;
                background-color: rgb(20, 181, 199);
                border-radius: 40px;
                justify-content: center;
                align-items: center;
                background-position: center;
                box-shadow: -6px 8px 7px hsla(0, 0%, 0%, 0.2);
            }
            
            .open:hover {
                background-size: 40px;
                width: 40px;
                height: 40px;
                transition: 0.2s;
            }
            /* .toggle {
    position: relative;
    width: 27px;
    height: 27px;
    margin-right: 50px;
    margin-top: 50px;
    background: url('menu.gif');
    background-size: 25px;
    background-repeat: no-repeat;
    
    background-color: rgb(20, 181, 199);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-position: center;
    box-shadow: -6px 8px 7px hsla(0, 0%, 0%, 0.2);
}

.toggle:hover {
    background-size: 40px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.toggle.active {
    background: url('delete.gif');
    width: 27px;
    height: 27px;
    margin-right: 50px;
    margin-top: 50px;
    background-size: 35px;
    background-color: rgb(20, 181, 199);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.toggle.active:hover {
    background-size: 40px;
    width: 20px;
    height: 20px;
    transition: 0.2s;
} */
            
            .overlay {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.9);
                overflow-x: hidden;
                transition: 0.5s;
            }
            
            .overlay-content {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 20px;
            }
            
            .overlay .ov1 {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .overlay .ov2 {
                /* position: relative; */
                /*top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px; */
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 8px;
                padding: 12px;
                /* grid-template-columns: repeat(12, .5fr);
    grid-template-rows: repeat(12, minmax(200px, auto));
    grid-column: 5 / 6;
    grid-row: 5 / 6; */
                color: #818181;
            }
            
            .overlay .ov3 {
                display: flex;
                justify-content: center;
                margin: 8px;
                padding: 12px;
                align-items: center;
            }
            
            .overlay .ov4 {
                display: flex;
                justify-content: center;
                margin: 8px;
                padding: 12px;
                align-items: center;
            }
            
            .overlay .ov5 {
                display: flex;
                justify-content: center;
                margin: 8px;
                padding: 12px;
                align-items: center;
            }
            /* .overlay-content ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
            
            .overlay a {
                padding: 8px;
                text-decoration: none;
                /* font-size: 16px; */
                font-size: 1rem;
                color: #818181;
                display: block;
                transition: 0.3s;
            }
            
            .overlay a:hover,
            .overlay a:focus {
                color: #f1f1f1;
            }
            
            .overlay .closebtn {
                position: absolute;
                top: 26px;
                right: 10px;
                background: url('delete.gif');
                width: 20px;
                height: 20px;
                margin-right: 24px;
                margin-top: 35px;
                background-size: 28px;
                background-repeat: none;
                background-color: rgb(20, 181, 199);
                border-radius: 40px;
                justify-content: center;
                align-items: center;
                background-position: center;
                /* box-shadow: -6px 8px 7px hsla(0, 0%, 0%, 0.2); */
            }
            
            .overlay .closebtn:hover {
                background-size: 24px;
                width: 12px;
                height: 12px;
                transition: 0.2s;
            }
            
            .app {
                margin: 20px;
                padding: 15px 10px;
                width: 240px;
                height: auto;
                font-size: 1rem;
                /* background-color: rgb(218, 120, 84); */
                border-radius: 40px;
                background-image: linear-gradient(to right, rgb(255, 89, 0), white, green);
                box-shadow: 0 10px 3px hsla(0, 0%, 0%, 0.2);
                transition: 0.5s;
            }
            
            @media screen and (max-height: 450px) {
                .overlay a {
                    font-size: 20px
                }
                .overlay .closebtn {
                    font-size: 40px;
                    top: 15px;
                    right: 35px;
                }
            }
            
            .h2Tag {
                margin-left: 10px;
                font-size: 2rem;
                font-weight: 800px;
            }
            
            .headTag a {
                /* background-color: orange; */
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }
            
            .poster {
                position: relative;
                display: flex;
                margin-left: 80px;
                /* margin-right: 80px; */
            }
            
            .theme {
                margin-top: -10px;
                margin-left: 60px;
            }
            
            .mainHeadlines {
                letter-spacing: 0px;
            }
            
            .belowMainheadlines {
                margin-bottom: 48px;
                /* color: rgb(107, 84, 60); */
                color: rgb(33, 52, 94);
                font-weight: 300;
                text-shadow: 4px 4px 16px rgb(107, 84, 60);
            }
            
            .subHeadlines1 {
                position: relative;
                display: flex;
            }
            
            .subHeadlines2 {
                position: relative;
                display: flex;
            }
            
            .subHeadlines3 {
                position: relative;
                display: flex;
                margin-bottom: 32px;
            }
            
            body {
                width: 100%;
                background-color: rgb(0, 255, 242);
            }
            
            .main {
                /* color: rebeccapurple; */
                /* background-color: rgb(66, 184, 204); */
                /* width: 100%; */
                background-image: linear-gradient(to left bottom, rgb(66, 184, 204), rgb(16, 14, 14));
            }
            
            .headTag {
                display: flex;
                justify-content: space-between;
            }
            /* .itsNowClass {
    background-color: blueviolet;
    color: aqua;
} */
            
            .buttons {
                margin: 20px;
            }
            
            .button1 {
                margin: 20px;
                padding: 15px 10px;
                width: 240px;
                height: auto;
                font-size: 1rem;
                /* color: rgb(55, 45, 45); */
                /* background-color: rgb(218, 120, 84); */
                border-radius: 40px;
                background-image: linear-gradient(to right, rgb(255, 89, 0), white, green);
                box-shadow: 0 10px 3px hsla(0, 0%, 0%, 0.2);
                transition: 0.5s;
            }
            
            .button2 {
                margin: 20px;
                padding: 15px 10px;
                width: 240px;
                height: auto;
                font-size: 1rem;
                color: rgb(55, 45, 45);
                font-weight: 800;
                /* background-color: rgb(218, 120, 84); */
                border-radius: 40px;
                /* background-image: linear-gradient(to right, rgb(255, 89, 0), white, green); */
                background-color: rgb(131, 131, 131);
                box-shadow: 0 10px 3px hsla(0, 0%, 0%, 0.2);
            }
            /* .pagecontrol {
    background: #000000;
}

.pagecontrol ul {
    display: none;
}

.pagecontrol ul li {
    display: flex;
    list-style: none;
}

.pagecontrol ul li a {
    position: relative;
    text-decoration: none;
} */
            
            @media screen and (max-width:952px) {
                .main {
                    width: 100%;
                    /* background-image: linear-gradient(to left bottom, rgb(226, 18, 70), rgb(218, 13, 237)); */
                }
                .belowMainheadlines {
                    color: rgb(43, 151, 151);
                }
                .poster {
                    flex-direction: column;
                }
                .overlay a {
                    font-size: 1.5rem;
                }
                .overlay .ov1 {
                    margin-top: 5px;
                }
                .overlay .ov2 {
                    flex-direction: column;
                }
                .overlay .ov3 {
                    flex-direction: column;
                }
                .overlay .ov4 {
                    flex-direction: column;
                }
                .overlay .ov5 {
                    flex-direction: column;
                }
                .overlay .closebtn {
                    width: 20px;
                    height: 20px;
                }
                .overlay .closebtn:hover {
                    width: 12px;
                    height: 12px;
                    background-size: 24px;
                    background-repeat: none;
                    transition: 0.2s;
                    margin-top: 20px;
                }
                .theme {
                    font-size: 1.1rem;
                }
                .buttons {
                    margin: 8px;
                }
                .button1 {
                    width: 200px;
                    height: auto;
                    font-size: 1rem;
                    color: rgb(5, 5, 5);
                }
                .button2 {
                    width: 200px;
                    height: auto;
                    font-size: 1rem;
                    /* color: rgb(250, 250, 253); */
                    color: rgb(55, 45, 45);
                }
                .h2Tag {
                    margin-left: 12px;
                    font-size: 1.75rem;
                    font-weight: 800px;
                    margin-top: 20px;
                }
                .open {
                    width: 24px;
                    height: 24px;
                    /* margin-right: 50px; */
                    margin-top: 50px;
                }
                .open:hover {
                    background-size: 30;
                    width: 34px;
                    height: 34px;
                    transition: 0.2s;
                }
                .app {
                    width: 180px;
                    height: auto;
                    font-size: 1rem;
                    color: rgb(5, 5, 5);
                    transition: 0.8s;
                }
            }
            
            @media screen and (max-width:600px) {
                .main {
                    width: 100%;
                    /* background-image: linear-gradient(to left bottom, rgb(18, 226, 63), rgb(237, 222, 13)); */
                }
                .poster {
                    flex-direction: column;
                }
                .overlay a {
                    font-size: 1.25rem;
                }
                .overlay .ov1 {
                    margin-top: 0px;
                }
                .overlay .ov2 {
                    flex-direction: column;
                }
                .overlay .ov3 {
                    flex-direction: column;
                }
                .overlay .ov4 {
                    flex-direction: column;
                }
                .overlay .ov5 {
                    flex-direction: column;
                }
                .overlay .closebtn {
                    width: 16px;
                    height: 16px;
                }
                .overlay .closebtn:hover {
                    width: 8px;
                    height: 8px;
                    background-size: 24px;
                    background-repeat: none;
                    transition: 0.2s;
                    margin-top: 16px;
                }
                .theme {
                    font-size: .80rem;
                }
                .buttons {
                    margin: 4px;
                }
                .button1 {
                    width: 160px;
                    height: auto;
                    font-size: .75rem;
                    color: rgb(5, 5, 5);
                }
                .button2 {
                    width: 160px;
                    height: auto;
                    font-size: .75rem;
                    color: rgb(250, 250, 253);
                }
                .h2Tag {
                    margin-left: 8px;
                    font-size: 1.5rem;
                    font-weight: 800px;
                    margin-top: 16px;
                }
                .open {
                    width: 24px;
                    height: 24px;
                    /* margin-right: 50px; */
                    margin-top: 40px;
                }
                .open:hover {
                    background-size: 30;
                    width: 32px;
                    height: 32px;
                    transition: 0.2s;
                }
                .app {
                    width: 160px;
                    height: auto;
                    font-size: .75rem;
                    color: rgb(5, 5, 5);
                    transition: 0.8s;
                }
                .belowMainheadlines.bolding {
                    color: rgb(33, 52, 94);
                }
            }